@font-face{
	font-family: font1;
	src: url("1.otf");
}
body{
	margin: 0;
	font-size: 0;
}
#top-menu{
	height: 50px;
	width: 100%;
	background-color: #222;
}
#box1{
	width: 100%;
}
.slide{
	width: 100%;
	font-size: 0;
	position: relative;
}
.slide-img{
	width: 100%;
}
#top-menu a{
	text-decoration: none;
	color: #aaa;
}
.top-menu-btn{
	color: #aaa;
	font-size: 20px;
	height: 24px;
	padding: 13px;
	display: inline-block;
	overflow: hidden;
	border-bottom: solid #ff0;
	transition-duration: 200ms;
	transition-property: color, border-bottom-width, padding-bottom;
}
.top-menu-btn:hover{
	color: #fff;
	border-bottom-width: 7px;
	padding-bottom: 6px;
}
.top-menu-btn img{
	height: 36px;
	margin: -6px;
}
.slide-title{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}
.slide-title p{
	font-size: 35px;
	color: #fff;
	text-shadow: 0 0 10px #000;
	font-family: font1;
	margin: 20px;
}
.slide-title b{
	font-size: 50px;
	color: #9af;
	text-shadow: 0 0 10px #000;
	font-family: font1;
}
#slide1-title{
	left: 70%;
	text-align: right;
}
.slide-title img{
	height: 200px;
}
#slide1{
	display: block;
}
#slide2{
	display: none;
}
#slide2-title{
	left: 50%;
	text-align: center;
}
.pretty-btn{
	background-color: #45f;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 35px;
	font-family: font1;
	color: #fff;
	display: inline-block;
	transition-duration: 200ms;
	transition-property: transform;
}
.pretty-btn:hover{
	transform: skew(-5deg) translateX(3px);
}
.pretty-btn div{
	transition-duration: 200ms;
	transition-property: transform;
}
.pretty-btn:hover div{
	transform: skew(5deg) translateX(3px);
}
#top-menu-btn1{
	border: none;
	padding-bottom: 13px;
	transition-duration: 0s;
}
#top-menu-btn2{
	border: none;
	padding-bottom: 13px;
	transition-duration: 0s;
}
#box2{
	position: relative;
	width: 100%;
	background-color: #222;
}
#feed{
	position: relative;
	left: 50%;
	transform: translate(-50%, -100px);
	width: 1024px;
	overflow: hidden;
	text-align: center;
}
#feed a{
	text-decoration: none;
}
.feed-norm{
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	background-color: #111;
	margin: 5px;
	background-position: center center;
	background-size: cover;
	text-align: left;
	-webkit-clip-path: polygon(
		0% 0%,
		calc(100% - 20px) 0%,
		100% 20px,
		100% 100%,
		0% 100%
		);
}
.feed-img{
	min-width: 100%;
	height: 100%;
	transition-duration: 200ms;
	transition-property: transform;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.feed-norm:hover .feed-img{
	transform: translateX(-50%) scale(1.1);
}
#feed1{
	width: calc(40% - 10px - 3px);
}
#feed2{
	width: calc(60% - 10px - 3px);
}
.feed-wide{
	height: 350px;
}
.feed-tall{
	height: 500px;
	width: calc(25% - 10px - 3px);
}
.feed-wide .description{
	position: absolute;
	bottom: 0;
	color: #fff;
	padding: 10px;
	font-size: 30px;
	font-family: font1;
	text-shadow: 0 0 20px #000;
	transition-duration: 200ms;
	transition-property: transform, text-shadow;
}
.feed-wide:hover .description{
	text-shadow: none;
	transform: translateY(-20px);
}
.feed-tall .description{
	position: absolute;
	background-color: #181818;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	color: #fff;
	font-size: 30px;
	font-family: font1;
}
::-webkit-scrollbar{
	background-color: #333;
}
::-webkit-scrollbar-thumb{
	background-color: #111;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #080808;
}
#footer{
	padding: 50px;
	background-color: #111;
}
#footer a{
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	font-size: 20px;
}
#footer a:hover{
	text-decoration: underline;
}
#footer img{
	height: 30px;
}
.feed-wide .gradient{
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(
		to top, 
		rgba(0,0,0,0.5), 
		rgba(0,0,0,0));
	opacity: 1;
	transition-duration: 200ms;
	transition-property: height, opacity;
}
.feed-wide:hover .gradient{
	height: 0;
	opacity: 0;
}
#trailer-btn{
	position: absolute;
	bottom: 150px;
	right: 150px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: solid #222 3px;
	background-color: rgba(0,0,0,0.7);
}
.triangle{
	height: 35px;
	width: 35px;
	-webkit-clip-path: polygon(
		20% 0%,
		100% 50%,
		20% 100%
		);
	background-color: #333;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#trailer-btn .text{
	font-size: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-family: font1;
	right: 120%;
	width: 210px;
	/*text-align: right;*/
}