body{
	background-color: #fff700;
	margin: 0;
}

#successful{
	top: 47%;
	position: absolute;
	left: 35%;
	font-size: 30px;
}

#back{
	height: 100px;
	width: 200px;
	background-color: #fff;
	position: absolute;
	top: 60%;
	left: 45%;
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
	text-shadow: 0 0 10px #000;
	font-size: 40px;
}